body {
  font-weight: arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}
.container {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  padding: 0 1rem;
}
